<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href="/assets/css/burger_style.css" type="text/css" rel="stylesheet">
		<title>Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body style="background-color:#eb6d26;text-align:center;display:flex;justify-content:center;align-items:center;">
		{{{ body }}}
	</body>
</html>
